*{
  margin: 0;
  padding: 0;
}
body{
  color: rgb(0,139,139);
  font-family:monospace;
  background: linear-gradient(to left bottom,lightgreen,lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp_container{
  width: 500px;
  height: 300px;
  background-color: rgba(255,255,255,0.3);
  box-shadow:rgba(0, 0, 0, 0.3) 0px 4px 10px 0px;
  border-radius: 1vh;
  border: none;
  padding: 4vh;
}
h1{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 3vh;
  font-size: 34px;
}
.container{
  width: 100%;
  padding: 15px;
  margin-bottom: 3vh;
  margin-right: 3vh;
  font-size: 18px;
  font-weight: bold;
}
input{
  padding: 7px;
  margin-left: 10px;
  width: 55%;
  background: rgba(255,255,255,0.3);
  border-color: rgba(255,255,255,0.5);
  font-size: 18px;
  float: right;
  color: darkgreen;
  outline: none;
}
input::placeholder{
  color: darkgray;
}
@media (max-width:440px) {
  .temp_container{
    width: 400px;
    height: 300px;
    border: none;
    padding: 2vh;
  }
  h1{
    text-align: left;
    margin-bottom: 3vh;
    font-size: 27px;
  }
  .container{
    width: 100%;
    padding: 6px;
    margin-bottom: 3vh;
    margin-right: 1vh;
    font-size: 15px;
    font-weight: bold;
  }
  input{
    padding: 7px;
    margin-left: 10px;
    width: 50%;
    background: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.5);
    font-size: 15px;
    float: right;
    color: darkgreen;
    outline: none;
  }
}